# core dependency
flask
flask-cors
gunicorn

# MongoDB 
pymongo

# AI & Semantic Kernel
semantic-kernel

# Azure speech
azure-cognitiveservices-speech

# OpenAI API
openai

# data handling
pandas

# env arguments
python-dotenv

# types
pydantic
typing-extensions

# async support
aiohttp

# text handling
fuzzywuzzy
python-Levenshtein

# other utils
nest-asyncio
jinja2

# JSON/safety
defusedxml
