# 核心依赖
flask
flask-cors
gunicorn

# MongoDB 数据库
pymongo

# AI & Semantic Kernel
semantic-kernel

# Azure speech
azure-cognitiveservices-speech

# OpenAI API
openai

# 数据处理
pandas

# 环境变量支持
python-dotenv

# 类型支持
pydantic
typing-extensions

# 异步支持
aiohttp

# 文本处理（OCR后期也会需要）
fuzzywuzzy
easyocr
python-Levenshtein

# 其他辅助库
nest-asyncio
jinja2

# 渲染 JSON / 安全
defusedxml
